.App {
  text-align: center;
  background-color: black;
}

.Home {
  height: 100vh;
  width: 100vw;
  padding: 5% 0%;
}

#home-subtitle {
  margin-top: 6%;
}

#home-button {
  margin: 5% auto;
}

#home-loader-container {
  display: inline-block;
  margin-top: 15%;
}

.new-listing-modal-text {
  padding-bottom: 3%;
  text-align: center;
}

#create-listing-button {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  /* margin: 5% auto; */
}
